# Frontend (Node.js)
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.*
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

# Backend (Python)
Backend/venv/
Backend/__pycache__/
Backend/*.pyc
Backend/.env

# Arquivos de IDE e Sistema Operacional
.vscode/
.idea/
*.DS_Store